* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
:root {
    --primary:#14A800;
}
body {
    font-size: 15px;
    justify-content: center;
}
.upwork {
    width: 100%;
    height: 100%;
    /* padding: 50px; */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
}

header {
    z-index: 100;
    position: fixed;
    background-color: #E4EBE4;
    width: 100%;
    margin-top: -100px;
}
nav {
    background: #0082e6;
    height: 100px;
    width: 100%;
    align-items: center;
}
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
     margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: white ;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    border:1px solid red ;
    font-size: 30px;
    /* line-height: 80px; */
    color: white;
    float: right;
    margin-right:40px ;
    cursor:pointer; 
    /* display: none; */
}

#check {
    display: none;
}
.first-div {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
}
.first-div-text  {
    width: 450px;
    align-items: center;
    height: 350px;
}

.first-div-text h1 {
    font-size: 65px;
    margin-bottom: 20px;
    color: #14A800;
}

.first-div-text h3 {
    margin-bottom: 20px;
}

.logos img {
    margin:0 10px;
}

.input1 {
    background-color: #14A800;
    color: white;
}

.first-div input {
    height: 40px;
    width: 150px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}


.first-div-img img {
    width: 500px;
    height: 500px;
}

.second-div {
    padding: 20px;
    margin: 100px auto;
}

.second-div-text h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.second-div-grid h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.second-div-text p {
    font-size: 15px;
}

.second-div-grid img {
    width: 30px;
    height: 15px;
}
.one {
    background-color: #F2F7F2;
    height: 140px;
    padding: 50px 20px 50px 20px ;
    border-radius: 20px;
}
span {
    float: right;
}
.star {
    justify-content: space-between;
}

.second-div-grid a {
    text-decoration: none;
    color: black;
}
.second-div-grid a :hover {
    background-color: #E4EBE4;
}
.second-div-grid{
    display: grid;
    grid-template-columns: repeat(4,250px) ;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}
.third-div {
    display: flex;
    margin: 100px 50px;
}
.third-div-text {
    height: 676px;
    padding: 20px;
    background-color: #A18085;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.third-div-text h1 {
    font-size: 65px;
    margin-bottom: 20px;
}
.third-div-text p {
    font-size: 20px;
    margin-bottom: 40px;
}
.third-div-img {
    width:50%;
    height: 00px;

}
.underline{
    padding: 30px 0;
}
.underline p {
    font-size: 15px;
    font-weight: 500;
}

.third-div-text input {
    width: 130px;
    height: 50px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
}

.fourth-div {
    background-image: url(image/fourthdiv-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    overflow: hidden;
    justify-content: space-around;
    height: 800px;
    
} 

.fourth-div-text{
    font-size: 20px;
    color: #ffff;
    width: 400px;
    padding: 20px;
    margin-bottom: 20px;
}

.fourth-div-text2 {
    margin: 100px 250px 80px 0;
    font-size: 100px;
    padding: 0  200px 0 50px;
    color: white;
    font-weight: bold;
}

.fourth-div-grid {
    display:flex;
    justify-content: space-between;
    justify-content: center ;
}
 .small {
    font-size: 35px;
    margin-bottom: 15px;
    padding-right: 60px;
    padding-left: 10px;
 }
 .fourth-div-grid a:hover {
    background-color: lightgreen;
    color: #14A800;
 }

.fourth-div-grid a {
    text-decoration: none;
    background-color: #14A800;
    color: white;
    width: fit-content;
    font-size: 15px;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.fifth-div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: fit-content;
}

.fifth-div-text {
    padding: 30px 100px 30px 20px;
    width: fit-content;
    background-color: #E4EBE4;
    position: relative;
    margin-top: 40px;
}
.fifth-div-text h1 {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 700px;
}

.number-two {
    z-index: 50;
    position: absolute;
    height:750px;
    margin: 0px 130px 20px 10px;
    padding-bottom: 50px;

}
.numbers {
    color: white;
    width: 30px;
    height: 15px;
}

.fifth-div-text h3 {
    width: fit-content;
    font-size: 40px;
    margin: 10px 0px 20px 10px;
    width: 400px;
}
.fifth-div-text p  {
    font-size: 20px;
    width: 500px;
}

.fifth-div-text2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 100px 30px 20px;
    background-color: #14A800;
    color: white;
    position: relative;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
    width: fit-content;    

}

.fifth-div-text2 h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 600px;
    margin-left: 30px;
}

.fifth-div-text2 h2 {
    font-size: 50px;
    display: flex;
    margin: 20px;
}
.fifth-div-text2 h3 {
    margin-top: 20px;
}
.fifth-div-text2 h3:nth-of-type(2){
    margin-top: 50px; 
}

.sixth-div {
    margin: 100px auto;
    background-color: #1F57C3;
    display: flex;
}

.text {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
.sixth-div-text h1 {
    font-size: 70px;
    margin-top: 100px;
    width: fit-content;
    margin-bottom: 30px;
}

.sixth-div-text {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.sixth-div-img {
    width: 50%;
}


.sixth-div-grid{
    display: grid;
    grid-template-columns: repeat(3,150px);
    justify-content: space-around;
    margin-top: 0px ;
}

.sixth {
    width: fit-content;
    height: 60px;
    font-size: 20px;
    text-align: center;
    border-radius:20px ;
    border: none;
}

.seventh-div {
    margin: 100px auto;
}
.seventh-div h1 {
    font-size: 60px;
    width: 550px;
}

.seventh-div1 {
    display: flex;
    gap: 10px;
}
.seventh-div1 h1 {
    font-size : 60px;
}

.seventh-div1 h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.nasdaq {
    background-color:darkcyan ;
    color: white;
    height: 1fr;
    padding: 20px;
}

.microsoft {
    background-color:darkgoldenrod;
    color: white;
    height: 1fr;
    padding: 20px;
}

.grid {
    margin-bottom: 30px;
}
.fa-solid .fa-arrow-right {
    color: black;
    z-index: 50;
}

.nasdaq-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,250px);
    gap: 20px;
}

.ninth-div {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    text-transform: uppercase;
}

.ninth-div a {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: black;
}

.ninth-div a:hover{
    color:gray;
}


.a a {
    color: lightgrey;
    font-weight: 600;
    font-size: 30px;
    
}
.a a:hover {
    color: green;
    cursor: pointer;
}

.a {
    display:flex;
    flex-direction: column;
    line-height: 20px;
}

.skills ul li  {
   list-style:none ; 
   margin: 20px auto;
   font-size: 20px;
}

.skills2 ul li {
    list-style:none ; 
   margin: 20px auto;
   font-size: 15px;
   text-align: center;
   /* border: 1px solid; */
   width: 200px;
   height: fit-content;
}
